/* yamlファイルのダウンロードリンク非表示。 */
.swagger-ui .information-container .link {
  display: none;
}

/* No linksアイコン非表示。 */
.swagger-ui td.response-col_links,
.swagger-ui .response-col_links i {
  display: none;
}

/* infoセクション内の引用欄の左側に赤いボーダーを表示し装飾 */
.swagger-ui .information-container blockquote {
  border-left: 3px solid #d4123f;
  padding-left: 15px;
  margin-inline-start: 0;
}

/* bootstrapのpreのCSSと競合してAPIバージョンとOASバージョン要素に縦スクロールが表示されてしまう問題を解決 */
.swagger-ui .info .title small pre {
  overflow: visible;
}

/* bootstrapサイドバーレイアウトを適用するため、docs.cssで定義されている.bd-main要素のGridレイアウトを解除 */
.bd-main {
  display: block;
}

  /* bootstrapサイドバーレイアウトを使用する場合、Swagger UIの最大幅の制限を解除 */
  .bd-main .swagger-ui .wrapper {
    max-width: none;
  }

  /* bootstrapサイドバーレイアウトを使用する場合、bootstrapによって縮小された見出しタグの上下余白を拡大 */
  .bd-main .swagger-ui .h1,
  .bd-main .swagger-ui .h2,
  .bd-main .swagger-ui .h3,
  .bd-main .swagger-ui .h4,
  .bd-main .swagger-ui .h5,
  .bd-main .swagger-ui .h6,
  .bd-main .swagger-ui h1,
  .bd-main .swagger-ui h2,
  .bd-main .swagger-ui h3,
  .bd-main .swagger-ui h4,
  .bd-main .swagger-ui h5,
  .bd-main .swagger-ui h6 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }

/* serversセクション非表示 */
/* .swagger-ui .scheme-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

  .swagger-ui .scheme-container .schemes-server-container {
    display: none !important;
  } */